<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

<section
  class="vh-100"
  style="
    background: linear-gradient(rgb(170, 196, 255), rgb(238, 241, 255), white);
  "
>
  <div class="form-gap"></div>
  <div class="container" style="margin-left: 35%">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Forgot Password?</h2>
              <p>
                Thats Okay, it happens! Write your email, and click on the
                button bellow to reset your password.
              </p>
              <div class="panel-body">
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="formEmail"
                    class="form-control form-control-lg"
                    placeholder="email"
                    #passwordResetEmail
                    required
                  />
                </div>

                <!-- Calling ForgotPassword from AuthService Api -->
                <div class="formGroup">
                  <a class="btn btn-primary w-100">
                    <input
                      type="submit"
                      class="btn btnPrimary"
                      value="Reset Password"
                      (click)="
                        authService.ForgotPassword(passwordResetEmail.value)
                      "
                    />
                  </a>
                </div>
              </div>
              <div class="redirectToLogin">
                <span
                  >Go back to ?
                  <a class="" href="#">
                    <span class="redirect" routerLink="/sign-in">Log In</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
