<section
  class="vh-100"
  style="
    background: linear-gradient(rgb(170, 196, 255), rgb(238, 241, 255), white);
  "
>
  <!-- <link
  rel="stylesheet"
  href="https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff"
/> -->

  <div class="form-gap"></div>
  <div class="container" style="margin-left: 35%">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
              <h2 class="text-center">Thank You for Registering</h2>
              <div class="formGroup" *ngIf="authService.userData as user">
                <p class="text-center">
                  We have sent a confirmation email to
                  <strong>{{ user.email }}</strong
                  >.
                </p>
                <p class="text-center">
                  Please check your email and click on the link to verfiy your
                  email address.
                </p>
              </div>

              <!-- Calling SendVerificationMail() method using authService Api -->

              <div class="pt-1 mb-4">
                <button
                  class="btn btn-dark btn-lg btn-block w-100"
                  type="button"
                  (click)="authService.SendVerificationMail()"
                >
                  Resend Verification Email
                </button>
              </div>

              <div class="redirectToLogin">
                <p class="mb-5 pb-lg-2" style="color: #393f81">
                  <span
                    >Go back to?<span>
                      <a
                        class="small text-muted redirect"
                        routerLink="/sign-in"
                      >
                       Sign in</a
                      ></span
                    ></span
                  >
                </p>
              </div>

              <!-- <div class="redirectToLogin">
                <span
                  >Go back to?<span>
                    <a class="redirect" routerLink="/sign-in" href="#!"></a>
                    Sign in</span
                  ></span
                >
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
